fastapi
uvicorn


# QR code generation
qrcode
Pillow          # imaging backend for qrcode

# PDF generation
reportlab

# Email + SendGrid
sendgrid
python-dotenv

# HTTP requests for geocoding
requests